* {margin:0; padding: 0}
body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  transform: scale(1.1);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--primary-darker), 0.4);
}

body {
  --background-image: 'url(/demo/default-bg.jpg)';
  --primary-dark : 38, 54, 70;
  --primary-darker : 15, 35, 46;
  --primary-dark-accent : 78, 93, 108;
  --primary-light: 78, 93, 107;
  --primary-accent: 3, 216, 245;
  --topbar-height: 70px;
  --left-menu-width: 258px;
  --text-color: 255, 255, 255;
  --z-index-for-fullscreen:2147483648;
  background: no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  margin:0;
  transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  color: white;
}


#root .main-content {
  padding: 50px;
  margin: var(--topbar-height) 1rem 1rem 1rem;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  display: inline-block;
  width:calc(100vw - var(--left-menu-width));
  max-width: calc(100vw - var(--left-menu-width));
}

#root .main-content .widget {
  margin-bottom: 30px;
}

#root .main-content.main-menu-visible {
  margin: var(--topbar-height) 1rem 1rem var(--left-menu-width);
}

#root .ui.topbar .menu-title{
  text-transform: capitalize;
}

#root .ui.topbar {
  background-color: rgba(var(--primary-dark), 0.8);
  border: none;
  min-height: var(--topbar-height);
  max-height: var(--topbar-height);
  max-width: 100vw;
  width: 100vw;
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index: 3;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

#root .ui.topbar.main-menu-visible {
  left:var(--left-menu-width);
  width:calc(100vw - var(--left-menu-width));
  max-width: calc(100vw - var(--left-menu-width));
}

#root .ui.attached.menu:not(.tabular) {
  border: none;
}

#root .ui.menu .sidebar-content .item {
  padding-left: 25px;
  padding-right: 25px;
}
#root .ui.menu .sidebar-content .item i {
  margin-top:-1px;
  float:left;
  margin-right:25px;

}

#root .ui.left.sidebar {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}


#root .ui.menu .header {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #676767;
  font-weight: bold;
  font-size: 1.2rem;
}

#root .ui.vertical.menu .item:before, #root .ui.menu .item:before {
  background: transparent;
}

#root .ui.menu .item, #root .ui.topbar .item.ui {
  border: none;
}

#root .ui.menu .item.active i {
  color: rgb(var(--primary-accent));
}

#root .ui.menu .item.active {
  border-right: 3px solid rgb(var(--primary-accent));
  color: rgb(var(--primary-accent));
  font-weight: 700;
  background: transparent;
}

#root .ui.vertical.menu:before, #root .ui.topbar:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

#root .ui.vertical.menu {
  background-color: rgba(var(--primary-dark), 0.6);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#root .sidebar-content .header-logo img {
  vertical-align: middle;
  display: inline;
  margin-right: 15px;
  box-shadow: none;
}

#root .sidebar-content .header-logo {
  background-color: rgba(var(--primary-darker), 0.6);
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 20px !important;
  padding-right: 0 !important;
  margin-bottom: 30px;
  min-height: var(--topbar-height);
}


#root .ui.card.media-item .header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#root .ui.card.media-item {
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#root .ui.card.media-item img, #root .ui.card.media-item>:first-child {
  border-radius: 0 !important;
}

#root .ui.card.media-item .content {
  padding: 1em 0;
}

#root .card.media-item .content .header {
  font-weight: 200;
  font-size: 1rem;
}

#root .meta {
  color: rgba(var(--text-color),.4);
}

#root .card.media-item .media-item-image-container {
  position: relative;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.5px 0.5px 0.5px 0px rgba(0,0,0,0.75);
  box-shadow: 0.5px 0.5px 0.5px 0px rgba(0,0,0,0.75);
}

#root .card.media-item .media-item-image-container:hover > div.media-item-hover {
  opacity: 1;
}

#root .card.media-item .media-item-hover {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--primary-light), 0.8);
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease;
}

#root .card.media-item .media-item-hover .media-item-play-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255, 0.8);
  color: hsla(0,0%,100%,.7);
  font-size: 20px;
  text-align: center;
}

#root .card.media-item .media-item-hover .media-item-play-icon:hover {
  border-color: rgba(var(--primary-accent), 0.8);
  background-color: rgba(var(--primary-accent), 0.8);
}

#root .card.media-item .media-item-hover .media-item-play-icon .icon, #root .card.media-item .media-item-hover .media-item-play-icon .icon:before {
  position: absolute;
  display: block;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-45%,-45%);
  transform: translate(-45%,-45%);
}

#root .settings .ui.card, #root .settings .ui.card {
  margin-right:50px;
}

#root .settings .ui.card, #root .settings .ui.card .description input {
  background-color:  rgba(255, 255, 255,.5);
  border-color: transparent;
}

#root .settings .ui.card .header, #root .settings .ui.card .meta {
  text-align: center;
}

#root .settings .ui.card .description input:hover {
  cursor: pointer;
  border: 1px solid rgba(var(--primary-darker), 0.7);
}

.ui.page .ui.modal {
  top: 33%;
}

.path-selector-trigger input:hover {
  cursor: pointer;
  border: 1px solid rgba(var(--primary-darker), 0.7);
}

.ui.modals .path-selector .path-list {
  max-height: 30vh;
  overflow: auto;
}

.ui.modals .library-edit .item.disabled .header, .ui.modals .library-edit .item.disabled i.icon  {
  color: rgba(255, 255, 255, 0.1) !important
}


.library-edit .library-type i.icon.tv:before {
  margin-left: 6px;
}

#root .media-page .media-page-segment {
  margin-bottom: 30px;
}

#root .media-page .media-page-segment .ui.tiny.progress,
#root .media-page .media-page-segment .ui.tiny.progress .bar {
  height: 3px;
}

#root .media-page .media-page-segment .ui.tiny.progress .bar {
  background-color: rgba(var(--primary-accent), 1);
}

#root .media-page .meta-right {
  text-align: right
}

#root .ui.menu {
  background-color: rgba(var(--primary-dark), 0.7);
}

#root .ui.menu .item:hover{
  background-color: rgba(var(--primary-light), 0.7);
}

#root .ui.menu .ui.button {
  background-color: transparent;
}

#root .video-player {
  width: 100vw;
  height: 100vh;
}

#root .player-wrapper {
  width: 100%;
  height: 100%;
  background-color: black;
}

#root .video-player .header-bar span {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  margin-top: 15px;
}

#root .video-player .header-bar .button:hover {
    background-color: rgba(var(--primary-light), 0.5);
}
#root .video-player .header-bar .button {
    background-color: transparent;
}

#root .video-player .header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: var(--z-index-for-fullscreen);
  background-color: rgba(var(--primary-dark), 0.7);
  height:60px;
  padding: 8px;
  color: rgba(255,255,255, 0.7);
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}


#root .video-player .control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: var(--z-index-for-fullscreen);
  background-color: rgba(var(--primary-dark), 0.7);
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}

#root .video-player .control-bar.hidden {
  visibility: hidden;
}

#root .video-player .header-bar.hidden {
  visibility: hidden;
}

#root .video-player .controls {
  padding:20px;
}

#root .video-player .controls .time {
  width: 100%;
  text-align: center;
  opacity: 0.5;
  margin-top:10px;
}

#root .video-player .controls .button{
  background-color: transparent;
}

#root .video-player .controls .button:hover{
  background-color: rgba(var(--primary-light), 0.5);
}

#root .video-player .control-bar .buffered-progress .bar {
  background-color: rgb(var(--primary-accent));
}

