body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  transform: scale(1.1);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--primary-light), 0.2);
}

body {
  --background-image: 'url(/demo/default-bg.jpg)';
  --primary-dark : 38, 54, 70;
  --primary-darker : 15, 35, 46;
  --primary-dark-accent : 78, 93, 108;
  --primary-light: 78, 93, 107;
  --primary-accent: 3, 216, 245;
  --topbar-height: 70px;
  --left-menu-width: 258px;
  background: no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  -moz-transition: background-image 1s ease-in-out;
  -webkit-transition: background-image 1s ease-in-out;
  -ms-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  color: white;
}


#root .main-content {
  padding: 50px;
  padding-left: 80px;
  margin: var(--topbar-height) 1rem 1rem 1rem;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

#root .main-content .widget {
  margin-bottom: 30px;
}

#root .main-content.main-menu-visible {
  margin: var(--topbar-height) 1rem 1rem var(--left-menu-width);
}

#root .ui.topbar .menu-title{
  text-transform: capitalize;
}

#root .ui.topbar {
  background-color: rgba(var(--primary-dark), 0.8);
  border: none;
  min-height: var(--topbar-height);
  max-height: var(--topbar-height);
  max-width: 100vw;
  width: 100vw;
  position: fixed;
  top:0;
  right:0;
  left:0;
  z-index: 3;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

#root .ui.topbar.main-menu-visible {
  left:var(--left-menu-width);
  width:calc(100vw - var(--left-menu-width));
  max-width: calc(100vw - var(--left-menu-width));
}

#root .item {
  color: white;
}

#root .ui.attached.menu:not(.tabular) {
  border: none;
}

#root .ui.menu .sidebar-content .item {
  padding-left: 25px;
  padding-right: 25px;
}
#root .ui.menu .sidebar-content .item i {
  margin-top:-1px;
  float:left;
  margin-right:25px;

}

#root .ui.left.sidebar {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}


#root .ui.menu .header {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #676767;
  font-weight: bold;
  font-size: 1.2rem;
}

#root .ui.vertical.menu .item:before, #root .ui.menu .item:before {
  background: transparent;
}

#root .ui.menu .item, #root .ui.topbar .item.ui {
  border: none;
}

#root .ui.menu .item.active i {
  color: rgb(var(--primary-accent));
}

#root .ui.menu .item.active {
  border-right: 3px solid rgb(var(--primary-accent));
  color: rgb(var(--primary-accent));
  font-weight: 700;
  background: transparent;
}

#root .ui.vertical.menu:before, #root .ui.topbar:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: inherit;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

#root .ui.vertical.menu {
  background-color: rgba(var(--primary-dark), 0.6);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#root .sidebar-content .header-logo img {
  vertical-align: middle;
  display: inline;
  margin-right: 15px;
  box-shadow: none;
}

#root .sidebar-content .header-logo {
  background-color: rgba(var(--primary-darker), 0.6);
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 20px !important;
  padding-right: 0 !important;
  margin-bottom: 30px;
  min-height: var(--topbar-height);
}

#root {
  color: white;
}

#root .ui.card.media-item .header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#root .ui.card.media-item {
  border: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 100%;
}

#root .ui.card.media-item img, #root .ui.card.media-item>:first-child {
  border-radius: 0 !important;
  -webkit-box-shadow: 0.5px 0.5px 0.5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0.5px 0.5px 0.5px 0px rgba(0,0,0,0.75);
  box-shadow: 0.5px 0.5px 0.5px 0px rgba(0,0,0,0.75);
}

#root .ui.card.media-item .content {
  padding: 1em 0;
  color: white;
}

#root .card.media-item .content .header {
  font-weight: 200;
  color: white;
  font-size: 1rem;
}

#root .card.media-item .content .meta {
  color: rgba(255,255,255,.4);
}

#root .settings .ui.card, #root .settings .ui.card {
  margin-right:50px;
}

#root .settings .ui.card, #root .settings .ui.card .description input {
  background-color:  rgba(255, 255, 255,.5);
  border-color: transparent;
}

#root .settings .ui.card .header, #root .settings .ui.card .meta {
  text-align: center;
}

#root .settings .ui.card .description input:hover {
  cursor: pointer;
  border: 1px solid rgba(var(--primary-darker), 0.7);
}

.ui.page .ui.modal {
  top: 33%;
}

.path-selector-trigger input:hover {
  cursor: pointer;
  border: 1px solid rgba(var(--primary-darker), 0.7);
}

.ui.modals .path-selector .path-list {
  max-height: 30vh;
  overflow: auto;
}

.ui.modals .library-edit .item.disabled .header, .ui.modals .library-edit .item.disabled i.icon  {
  color: rgba(255, 255, 255, 0.1) !important
}


.library-edit .library-type i.icon.tv:before {
  margin-left: 6px;
}

